/* TAGS */

h1 {
color: red;

}

/* IDS */

#add {
    border: red 5px solid;
}

/* CLASSES */

.function {
width: 10vw;
height: 5vw;
background-color: #999;
text-align: center;
font-size: 30px;
float: left;
};